<div class="panel panel-default">	
	<div class="panel-heading">
		<div class="day-buttons">
			<button class="btn btn-circle day-btn day-instance current-day">1</button>
			<button id="add-day" class="btn btn-circle day-btn">+</button>
		</div>
	</div>
	<div class="panel-body">
		
		<div>
			<h4>My Hotels</h4>
			<ul class="list-group curr-hotels">
				
			</ul>
		</div>
		<div>
			<h4>My Restaurants</h4>
			<ul class="list-group curr-restaurants">
				
			</ul>
		</div>
		<div>
			<h4>My Things To Do</h4>
			<ul class="list-group curr-things">
				
			</ul>
		</div>
	
	</div>
</div>