<!DOCTYPE html>
<html>
	<title>Trip Planner - {% block title %}{% endblock %}</title>
	<head>
		<link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" />
		<link rel="stylesheet" href="/stylesheets/main.css" />
		<link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet'>
	</head>
	<body>
		{% include 'navbar.html' %}
		{% block content %}
		{% endblock %}
		<script src="/bower_components/jquery/dist/jquery.min.js"></script>
		<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
		<script src="/js/gmapapi.js"></script>
		<script src="/js/map.js"></script>
		<script src="/js/custom.js"></script>
	</body>
</html>